/*Bakgrunn*/
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: url('../bilder/bakgrunn.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

/*Tekst*/
h1, h2, h3, h4, h5{
    color:rgb(70, 138, 221);
    font-weight:bold;
}



/*Grid til sidene*/
.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 3%;
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.grid-container2 {
    display: grid;
    color:rgb(70, 138, 221);
    font-weight:bold;
    background-color: rgba(255, 255, 255, 0.925);
    border: 1px solid rgba(255, 255, 255, 0.8);
    grid-template-columns: auto auto auto;
    grid-template-areas:
    'left left prosessor'
    'left left hovedkort'
    'left left ram'
    'left left skjermkort'
    'left left lagringsenhet'
    'left left strømforsyning';
    padding: 3%;
    border-radius: 10px;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.925);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 3%;
    font-size: 100%;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.grid-left{ border-radius: 10px; margin-top: auto; margin-bottom: auto; grid-area: left; }
.grid-prosessor{ border-radius: 10px; margin-top: auto; margin-bottom: auto; grid-area: prosessor; }
.grid-hovedkort{ border-radius: 10px; margin-top: auto; margin-bottom: auto; grid-area: hovedkort;  }
.grid-ram{ border-radius: 10px; margin-top: auto; margin-bottom: auto; grid-area: ram; }
.grid-skjermkort{ border-radius: 10px; margin-top: auto; margin-bottom: auto; grid-area: skjermkort; }
.grid-lagringsenhet{ border-radius: 10px; margin-top: auto; margin-bottom: auto; grid-area: lagringsenhet; }
.grid-strømforsyning{ border-radius: 10px; margin-top: auto; margin-bottom: auto; grid-area: strømforsyning; }

.grid-spacer {
    height: 300px;
}

.grid-container img:hover {
    filter: brightness(70%);
}
table {
    background-color: aliceblue;
}
table:hover{
    filter: brightness(70%);
}

.bildetekst {
    font-size: small;
}
