@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); /*Font import*/

body{
    background-color: rgb(38, 0, 38);
    color: rgb(0, 0, 0);
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.header{
    display: block;
    justify-self: center;
    margin: auto;
    width: 60%;
    padding: 1%;
    color: white;
    background-color: rgb(166, 0, 166);
}
.block2{
    display: block;
    justify-self: center;
    margin: auto;
    margin-top: 20px; 
    width: 60%;
    padding: 1%;
    background-color: rgb(255, 255, 255);  
    border: 3px purple solid;
}

.footer{
    display: block;
    color: white;
    justify-self: center;
    margin: auto;
    margin-top: 20px; 
    padding: 3%;
    background-color: rgb(0, 0, 0);  
    bottom: 0;
}

/*Grid*/

.image-container{
    display: blocK;
    font-size: 8px;
    color:rgb(137, 137, 137);
    width: 60%;
    margin: auto;
}

.button {
    background-color: #2f8031;
    border: 2px rgb(0, 0, 0) solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 50vh;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: #1c4b1d;
}

@media (max-width: 800px) {
    .header{
        width: 90%;
    }
    .block2{
        width: 90%;
    }
}
