/*Bakgrunn*/
body {
    background-image: url('../bilder/bakgrunn.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

/*Fikse bildestørrelser*/
img{
    width: 100%;
    margin: auto;
}

/*Tekst*/
h1, h2, h3, h4, h5{
    color:forestgreen;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p, li, a, button, label {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*Sentrering av tabeller*/
table{
    margin-left: auto;
    margin-right: auto;
}


/*For menyknapper øverst på siden*/
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  position: relative;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}
.tablink:hover {
  background-color: #777;
}
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}


/*Grid til sidene*/
.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.grid-item {

    background-color: rgba(255, 255, 255, 0.925);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
}


/*For video plassering og størrelse*/
.video {
    position: relative;
    left: 15%;
    border: none;
    width: 70%;
}


/*Boks rundt kontaktinfo*/
.kontaktInfo {
    width: 100%;
    background-color: rgba(202, 202, 202, 0.941);
    color: rgb(0, 0, 0);
    padding: 0.2%;
    position: relative;
}


#inputBoks {
  position: relative;
  width: 30%;
  height: 50px;
}















/*Videofiks*/
[style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
}
