*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:white;
}
body{
    background-color: darkslategrey;
    margin: 0;
}

/*Grid til sidene*/
.grid-container {
    display: grid;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgba(0, 0, 0, 0.8);
    grid-template-columns: auto auto;
    padding: 3%;
    border-radius: 5px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}



.grid-item {
    font-size: 100%;
    text-align: center;
    padding: 5%;
}



/*Css til histogrammet*/
.histogramContainer {
    display: grid;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgba(0, 0, 0, 0.8);
    grid-template-areas:
    'header header header header header'
    'bybuss landebuss tog fly bil'
    'byBussTekst landeBussTekst togTekst flyTekst bilTekst';
    padding: 3%;
    border-radius: 5px;
    width: 75%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    align-items: end;
    text-align: center;
}

.headerItem {
    grid-area: header;
    text-align: center;
}

/*Farger og høyder til histogramsøyler*/
#bybuss
{
    background-color: rgba(0, 225, 255, 0.925);
    height: 51.5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    grid-area: bybuss;
    width: 100px;
    text-align: center;
}
#landebuss
{
    background-color: rgba(0, 21, 255, 0.925);
    height: 26px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    grid-area: landebuss;
    width: 100px;
    text-align: center;
}
#tog
{
    background-color: rgba(255, 0, 0, 0.925);
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    grid-area: tog;
    width: 100px;
    text-align: center;
}
#fly
{
    background-color: rgba(255, 174, 0, 0.925);
    height: 170px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    grid-area: fly;
    width: 100px;
    text-align: center;
}
#bil
{
    background-color: rgba(89, 255, 0, 0.925);
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    grid-area: bil;
    width: 100px;
    text-align: center;
    max-height: 500px;
}

/*Farger og høyder til histogramsøyler*/
#bybussTekst{ grid-area: byBussTekst; }
#landeBussTekst{ grid-area: landeBussTekst; }
#togTekst{ grid-area: togTekst; }
#flyTekst{ grid-area: flyTekst; }
#bilTekst{  grid-area: bilTekst; }

/*Rød advarseltekst*/

#advarsel{
    color: red;
}