@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body{
  background-color: rgb(41, 0, 106);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: top;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
    color:#ffffff;
    font-size: larger;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}


.main-text{
    margin-top: -45vh;
    font-size: 7vh;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.grid-container{
  margin-top: 0px;
  margin: auto;
  display: grid;
  width: 80%;
  grid-template-columns: auto auto;
}
.grid-container1{
  margin-top: 0px;
  margin: auto;
  display: grid;
  width: 80%;
  grid-template-columns: auto;
}
.grid-item{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;           
}
.grid-spacer{
  height: 60px;
}

.bottom{
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  background-color: #000000;
  padding: 25px ;
}
.alignRight{
  text-align: right;
  margin-right: 50px;
}

#greenBg{
  background-color: #008004;
}

#whiteBg{
  background-color: #d3d3d3;
  color:#000000
}

#centerText{
  text-align: center;
}

/*Knapper*/

.knapp{
  border-radius: 5%;
  background-color: #008004;
  color:#ffffff;
  font-weight:bold;
  width: 20vh;
  height: 8vh;
  display: block;
  margin: auto;
}
.knapp:hover{
  border-radius: 5%;
  background-color: #006303;
  color:#ffffff;
  width: 20vh;
  height: 8vh;
}

.levelKnapp{
  margin-top: 15px;
  height: 15vh;
  width: 15vh;
  color: #ffffff;
  font-size: 10vh;
  border-radius: 50%;
  background-color:#000000;
  border-width: 4px;
  border-color: #ffffff;
}
.levelKnapp:disabled{
  margin-top: 15px;
  height: 15vh;
  width: 15vh;
  color: #bdbdbd;
  font-size: 10vh;
  border-radius: 50%;
  background-color:#000000;
  border-width: 4px;
  border-color: #737373;
}
.selected{
  color:#ff0000;
}

#levelFerdig{
  border-color: #bfff00;
}

.svar{
  font-size: 2vh;
}
.svar input{
  width: 5vh;
  height:5vh;
}

#tekstFargeEndring{
  animation: fargeEndring 2s;
}

@keyframes fargeEndring {
  0% { opacity: 0;}
  100% { opacity: 1;}
  
}


/*For video plassering og størrelse*/
.video {
  display: block;
  margin: auto;
  z-index: 1;
  border: none;
  border-radius: 10px;
  width: 100%;
}
/*Videofiks*/
[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
  }  
}






