/*Bakgrunn*/
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(255,255,255);
}
body {
    background-image: url("../bilder/bakgrunn.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

/*Tekst*/
h1, h2, h3, h4, h5{
    color:rgb(174, 12, 255);
    font-weight:bold;
}
button, input{
    color:rgb(0, 0, 0);
}



/*Grid til sidene*/
.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 3%;
    border-radius: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}



.grid-item {
    background-color: rgba(37, 37, 37, 0.925);
    border: 5px solid rgba(110, 83, 35, 0.8);
    padding: 3%;
    font-size: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.grid-spacer {
    height: 50px;
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: #943885;
    border: none;
    color: white;
    padding: 16px 32px;
    border-radius: 5px;
    text-decoration: none;
    margin: 2% 2%;
    cursor: pointer;
  }

  