body{
    text-align: center;
    background-color: black;
    color: white;
    overflow: hidden;
}
#sirkelContainer{
    margin: 0;
}

#sirkel{
    border-radius: 50%;
    background-color: aqua;
    width: 50px;
    height: 50px;
}