@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap');
body{
    text-align: center;
    background-color: rgb(99, 63, 0);
    color:aliceblue;
    font-family: 'DynaPuff', cursive;
    font-size: 1vw;
}
#bok{
    margin: auto;
    width: 60vw;
    height: 36vw;
    box-sizing: border-box;
    background-image: url("bilder/lysbilder/Forside.png");
    background-color: #AAEAFF;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 0.3vw black;
    color: red;
    font-size: 3vw;
    padding-top: 2vw;
    margin-bottom: 1vh;
}
#bok img{
    width: 10vw;
    height: 10vw;
}

#tekstBoks{
    display: flex;
    align-items: center;
    justify-content: center; /* horizontally center items */
    font-size: 2.5vw;
    color:black;
    width: 100%;
    height: 40%;
}

#snakkeBobleVenstre{
    margin: auto;
    background-image: url("bilder/SnakkebobleVenstre.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(0, 51, 192);
    font-size: 1.5vw;
    display: flex;
    align-items: center; /* vertically center items */
    justify-content: center; /* horizontally center items */
    width: 50%;
    height: 55%;
}

#snakkeBobleHoyre{
    margin: auto;
    background-image: url("bilder/SnakkebobleHoyre.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(0, 51, 192);
    font-size: 1.5vw;
    display: flex;
    align-items: center; /* vertically center items */
    justify-content: center; /* horizontally center items */
    width: 50%;
    height: 55%;
}


.button-grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto auto;
    margin: auto;
    width: 60vw;
}
.button-grid2{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    margin: auto;
    width: 60vw;
}

button{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5vw;
    margin: auto;
    background-color: rgb(238, 205, 144);
    height: 4vw;
    width: 12vw;
    border: none;
    border-radius: 1vw;
    box-shadow: 0 1vh #999;
}

button:hover{
    background-color: rgb(141, 109, 27);
}

button:active {
  box-shadow: 0 0.45vw #666;
  transform: translateY(4px);
}

#startKnapp{
    height: 6vw;
}


@media(max-width: 825px) {

    #bok{
        width: 90vw;
        height: 54vw;
    }
    .button-grid{
        display:flex;
        flex-direction: column-reverse;
        width: 90vw;
    }
    .button-grid2{
        display:flex;
        flex-direction: column-reverse;
        width: 90vw;
    }
    button{
        display:block;
        font-weight: bold;
        font-size: 2.5vw;
        margin: auto;
        background-color: rgb(238, 205, 144);
        height: 8vw;
        width: 40vw;
        border: none;
        border-radius: 15px;
        box-shadow: 0 1vh #999;
        margin-bottom: 4vh
    }
}