img{
    float: left;
    margin: 2vh;
}

#gronn {
    background-color: green;
}
#bla {
    background-color: rgb(30, 0, 128);
}
#rod {
    background-color: rgb(216, 0, 0);
}
#gul {
    background-color: rgb(246, 255, 0);
}

.kolonne{
    width: 275px;
    padding: 5px;
    margin: 25px;
}

.hoved{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}