/*Bakgrunn*/
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: url('../bilder/bakgrunn.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

/*Tekst*/
h1, h2, h3, h4, h5{
    color:rgb(70, 138, 221);
    font-weight:bold;
}



/*Grid til sidene*/
.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 3%;
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.925);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 3%;
    font-size: 100%;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

table {
    background-color: aliceblue;
}
img:hover{
    filter: brightness(70%);
}

.bildetekst {
    font-size: small;
}

.kolonne{
    width: 275px;
    padding: 5px;
    margin: 25px;
    padding: 3%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.925);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.hoved{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
