body{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
}
*{
    text-align: center;
}
img{
    border-radius: 15px;
    box-shadow: 2px 2px 4px #000000;;
}
.header{
    background-color: blueviolet;
}

.brukerInfo{
    display: block;
    margin: auto;
    height: 125px;
    width: 200px;
    background-color: blueviolet;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #000000;
}
