
table, th, td{
    background-color: white;
    border: 2px solid;
    width: 10vw;
    height: 6vh;
}
table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-collapse: collapse;
    margin: 5% auto;
    width: 90%;
}

#rosa{
    background-color: rgb(223, 72, 218);
}
#lilla{
    background-color: rgb(131, 14, 131);
}
#lyseblå{
    background-color:rgb(0, 187, 255);
}
#blå{
    background-color:rgb(37, 66, 198);
}
#grønn{
    background-color:rgb(65, 195, 65);
}
#gul{
    background-color: rgb(255, 251, 0);
}
#oransje{
    background-color: rgb(255, 145, 0);
}
#rød{
    background-color: firebrick;
}


#dager{
    font-weight: bold;
}

