body{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('bilder/bakgrunn.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    overflow: hidden;
}

/* Add some style to the card */
.kort {
    position: absolute;
    width: 40vh;
    height: 50vh;
    background-color: rgb(162, 0, 0);
    background-image: url('bilder/JulekortBakgrunn.png');
    background-size: cover;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Style the greeting text */
.julekortTittel {
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
    color: white;
}
.julekortTekst {
    font-size: 3vh;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-bottom: 20px;
    overflow: hidden;
}

/* Style the image */
.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.footer{
    position: fixed;
    bottom: 0;
}