body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gray;
    font-size: 4vh;
    font-weight: bold;
}

input{
    text-transform: capitalize;
}

h1{
    font-size: 8vh;
}


button {
    background-color: #ffffff; 
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-size: 4vh;
  }
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
  }

  input {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-size: 4vh;
  }

  #ordTekst{
    font-size: 10vh;
  }
  #gratulerer{
    font-size: 4vh;
    color: greenyellow;
  }

  #infoTekst{
    font-size: 3vh;
  }
  #feilEllerRiktig{
    font-size: 2vh;
  }


  .grid-container{
    display: grid;
    grid-template-columns: auto;
    padding: 1%;
    border-radius: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-item{
    background-color: rgba(98, 98, 98, 0.925);
    border: 1% solid rgba(89, 89, 89, 0.8);
    padding: 1%;
    font-size: 100%;
    border-radius: 2%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .grid-spacer{
    height: 150px;
  }